### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

FIFA World Cup 2022
baller2vec.py
model.ipynb
model.py
temporal_baseline.pth
my_plays.pkl
data_handler.py